 .editor-sidebar{
    overflow:auto;
}

.pane-main-content{
    overflow:auto;
}

.bg-light-2{
    background:#e9ecef!important;
}
.section-container-title{
  padding:10px;
  background:#f3f3f3;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  border:1px solid gainsboro;
}
.v-expansion-panel-header{
  font-weight:bold;
}

.metadata-form .nested-section{
    background:white;
    border:1px solid #dee2e6;
}

.metadata-form .nested-section .nested-section-body{
    padding:10px;
}

.metadata-form .nested-section .section-toggle-icon{
    padding:5px 10px;
}

/*.metadata-form-container .field-type-section,*/
.metadata-form .nested-section-row{
    margin:10px;
    border:0px;
    padding-bottom:5px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important
}

.metadata-form .required-label{
    font-weight:bold;
    color:red;
}


.metadata-form  td .form-field-textarea{
    height:60px;
    min-height:60px;
}

/*.grid-button-delete,
.section-toggle-icon
{
    margin-top:4px;
}*/

.form-field-table{
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-field-table th{
    font-size:12px;
}

.metadata-form-container .form-field{
    margin-left:15px;
    margin-right:15px;
    margin-top:15px;
    margin-bottom:30px;
}

/*.metadata-form-container .field-type-section .field-type-section{
    margin-left:15px;
    margin-right:15px;
}*/

.form-node .form-node,
.form-tree .form-tree,
.tree-menu .tree-menu {
    margin-left: 15px;            
}

.tree-item-label,
.tree-node{
    cursor:pointer;
}

.v-treeview-node__root:hover {
    background: #ececec37;
    cursor:pointer;
  }

.form-container{
    border:1px solid #0062cc;
}

label{
    font-size: 14px;
        font-weight: bold;
        margin-bottom: .1rem;
    }


.sidebar-content{
    padding:15px;
}

.sidebar-header{
    padding:10px;
    background: #F1F1F1;
    border-bottom:1px solid gainsboro;            
}

.main-content{
    padding-top:10px;
}

.form-tree{
    color:#545b62;
}
.form-tree .active{
    color:#0062cc;            
}

.lvl-0 .field-type-section{
    margin-top:15px;
}

.field-type-nested_array{
    margin:15px;
}        

.error{
    background:transparent;
    color:red;
    border:0px;
}

.v-application .field-error{
    color:red;
    font-size:small;
}

.grid-component{
    background:white;
    padding-bottom:10px;
}

.nav-link{
    color:black;
}
.nav-active{
    font-weight:bold;
    color:#007bff;
}

.sub-header{
    display:none;
}



.list-group-item{
    padding:.3rem 1.25rem;
    font-size:14px;
}

.sticky-offset {
    top: 56px;
}



#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon .fa-caret-right{
    display:none;
}
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon .fa-caret-down{
    display:none;
}

.sidebar-submenu{
    font-size:smaller;
}

.text-link{
  color:blue;
  cursor:pointer;          
}

.v-icon.v-icon{
    font-size:18px;
}

.v-treeview-node__content, .v-treeview-node__label {
    flex-shrink: 1;
  }
  .v-treeview-node__root {
    height: auto;
  }

  .v-treeview-node__label{
    white-space: normal !important;
    font-size:small !important;
  }  


  .resource-icon{
    font-size:32px;
    color:#007bff;
    margin-right:15px;
}            

.resource-row{
    padding-top:10px;
    padding-bottom:10px;
    border-bottom:1px solid gainsboro;
}

.nav-sidebar>.nav-item{
    width:100%;
}

.v-treeview--dense .v-treeview-node__root
{
    min-height:25px;
}

.v-treeview-node__level {
    width: 10px;
}

.v-treeview-node__children .v-treeview-node__children .v-treeview-node__content {
    margin-left: 16px;
}

.table-variables td, .table-variables th {
    border: 1px solid rgb(0 0 0 / 12%);
}

.table-responsive-sticky{
    height:400px;  
    overflow:scroll;
  }
.table-responsive-sticky thead tr:nth-child(1) th{
      position: sticky;
      top: 0;
      z-index: 10;
      background: gainsboro;
    border-bottom: 1px solid rgb(0 0 0 / 12%);
}

.table-variables:hover{
    cursor:pointer;    
}

.activeRow td,
.activeRow a,
.activeRow .text-link
 {
    background: #1f2d3d;
    color: white;
}

.activeRow .bg-secondary{
    background: #1f2d3d !important;
}

.datafile-card {
    flex-direction: row;
  }
  .datafile-card .card-icon {
    width: 100px;
  }
  

  .form-control-xs {
    height: calc(1em + .375rem + 7px) !important;
    padding: .125rem .25rem !important;
    font-size: .75rem !important;
    line-height: 1.5;
    border-radius: .2rem;
}


.var-labl-edit{
    width:100%;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

.activeRow .var-labl-edit{
    color:white;
}

.var-name-edit{
    width:150px;
}

/*
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
  */

  .form-check-label{font-weight:normal}

  .move-row{
    font-size: 12px;
    padding-top: 5px;
    color: rgb(0 0 0 / 12%);
    font-weight: normal;
    display: block;
    cursor: pointer;
  }

  .text-block {
    white-space: pre-wrap;    
}

/*vuetify pagination active*/
.theme--light.v-pagination .v-pagination__item--active{
    background:#007bff;
}

.tree-item-label{
    display:block;
}

.capitalize{
    text-transform:capitalize;
}

.card-thumbnail-col {
    justify-content: right;
    display: flex;
}

.project-card-thumbnail {
    object-fit: cover;
    max-height: 180px;
    width: 100%;
}

.text-small{
    font-size:small;
}

.v-application--wrap {
    min-height: 0vh !important;
  }


.bg-primary, .bg-primary>a {
    color: #fff!important;
}

.bg-secondary, .bg-secondary>a {
    color: #fff!important;
}

.bg-secondary-light{
    background:#dee2e6!important;
}


.btn-xs {
    padding: 0.125rem 0.25rem;
    font-size: .75rem;
    line-height: 1.5;
    border-radius: 0.15rem;
}



.sidebar-menu-bar .icon{
    color:gray!important;
    font-size:16px;
    margin-top:-2px;
}

.sidebar-menu-bar .icon:hover{
    color:rgb(0, 0, 0)!important;
    font-size:16px;
    margin-top:-2px;
}

.sidebar-menu-bar .btn.active .icon,
.sidebar-menu-bar .btn:hover .icon{
    color:rgb(0,0,0)!important;
}

/*
.sidebar-menu-bar .btn{
    background:none;
    color:black;
    border:0px;
}

.sidebar-menu-bar .btn:hover{
    background-color:rgb(174, 173, 173);
}

.sidebar-menu-bar .btn.active .icon,
.sidebar-menu-bar .btn:hover .icon{
    color:rgb(251, 251, 251)!important;
}

.sidebar-menu-bar .btn{
    background:rgb(0 0 0 / 12%);
    color:black;
    border:0px;
}
*/

.help-text{
    white-space: pre-wrap;
}

.v-textarea-field .v-text-field__slot{
    max-height: 300px;
    overflow-y: auto;    
}

.v-textarea-field .v-input__slot{
    background:#f0efef;
    padding:10px;
}

.v-text-field{
    padding-top:0px!important;
}

.v-text-field .v-text-field__details,
.v-text-field legend,
.v-textarea-field .v-text-field__details{
    display:none;
}

.v-delete-icon{
    color:#dc3545!important;
    cursor:pointer;
}

table .form-field-dropdown-custom .v-input__slot{
    padding:0px;
    margin:0px;
    min-height:27px!important;
    font-size:small;
}

.form-field-dropdown-custom  .v-input__append-inner{
    margin-top:2px!important;
}

table .form-field-dropdown-custom {
    margin-top:5px!important;
}

table .form-field-dropdown-custom  .v-input__slot .v-select__slot{
    height:22px;
}

table .form-field-dropdown-custom  .v-input__slot .v-input__append-inner
{
    margin-top:0px!important;
}

table .form-field-dropdown-custom .v-input__slot fieldset{
    border:1px solid gainsboro!important;
    background:white!important;
}

.text-normal{
    font-weight:normal;
}


.switch-control .v-input--selection-controls{
    margin-top:0px;
}

.switch-control .v-messages{
    display:none;
}

.switch-control .v-label{
    font-weight:normal;
}

.default-theme.splitpanes--vertical>.splitpanes__splitter, .default-theme .splitpanes--vertical>.splitpanes__splitter {
    width: 7px;
    border-left: 10px solid white;
    margin-left: -1px;
}

.variables-list-component .default-theme.splitpanes--vertical>.splitpanes__splitter, .default-theme .splitpanes--vertical>.splitpanes__splitter {
    border-left: 10px solid white;
}


.default-theme.splitpanes--vertical>.splitpanes__splitter:before, .default-theme .splitpanes--vertical>.splitpanes__splitter:before {
    margin-left: -7px;
}

.default-theme.splitpanes--vertical>.splitpanes__splitter:after, .default-theme .splitpanes--vertical>.splitpanes__splitter:after {
    margin-left: -5px;
}

/*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
*/
.editor-sidebar{
    background:#dee2e6!important;
}

.pane-main-content{
    background:white!important;
}

.bg-variable{
    background:rgb(0 0 0 / 12%);
}

.var-icon
{
    font-size:24px;    
    padding:3px;    
}
.var-icon:hover{
    /*color:rgb(251, 251, 251)!important;*/
    background-color:rgb(208, 205, 205);
    cursor:pointer;
}


.section-list-container{
    /*height:100%;
    background:white;*/    
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
}

.section-list-container .section-list-header{
    flex: none;
}

.section-list-container .section-list-body{
    /*position:relative;padding-bottom:50px;height:inherit;overflow-y: scroll;background:white;font-size:small*/
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
    font-size:small;  
    position:relative;      
}

.section-list-container .section-list-body  .section-rows {
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0px;
    position:relative;    
}

.variable-documentation-container{
    font-size:small;
}

.switch-field label{
    font-weight:normal!important;
    font-size:14px;
}



.var-vid-td{
    width: 50px;
    font-size:small;
}

.datafile-actions .btn{
    font-size:11px;
}

.text-normal{
    font-weight:normal;
}

.activeRow .mdi {
    color: white;
}

/* remove extra padding and spacing from vuetify  checkbox */
.v-checkbox-rm-styles .v-input--selection-controls{
    margin: 0px;
    padding: 0px;
}

.v-checkbox-rm-styles .v-input__slot{
    margin:0px;
}
.v-checkbox-rm-styles .v-label{
    font-size:14px;
    font-weight:normal;
}

.v-checkbox-rm-styles .v-messages{
    display:none;
}

.v-checkbox-summary-stats .v-label{
    font-size:12px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

  .variable-list-component{
    height:100vh;
    overflow:auto;
    padding:10px;
}

.variable-frequencies .progress-text{
    font-size:10px;    
    padding-left:3px;
}


.v-labels-remove-space .v-label{
    font-weight:normal;
}
.v-labels-remove-space .v-input{
    margin:0px;
}

.v-labels-remove-space .v-messages{
display:none;
}